layout {

    focus-ring {
        active-color   "#a7c080"
        inactive-color "#232a2e"
        urgent-color   "#e67e80"
    }

    border {
        active-color   "#a7c080"
        inactive-color "#232a2e"
        urgent-color   "#e67e80"
    }

    shadow {
        color "#47525870"
    }

    tab-indicator {
        active-color   "#a7c080"
        inactive-color "#4e6924"
        urgent-color   "#e67e80"
    }

    insert-hint {
        color "#a7c08080"
    }
}

recent-windows {
    highlight {
        active-color "#a7c080"
        urgent-color "#e67e80"
    }
}
