layout {

    focus-ring {
        active-color   "#8da101"
        inactive-color "#fffbef"
        urgent-color   "#f85552"
    }

    border {
        active-color   "#8da101"
        inactive-color "#fffbef"
        urgent-color   "#f85552"
    }

    shadow {
        color "#5c6a7270"
    }

    tab-indicator {
        active-color   "#8da101"
        inactive-color "#dced67"
        urgent-color   "#f85552"
    }

    insert-hint {
        color "#8da10180"
    }
}

recent-windows {
    highlight {
        active-color "#8da101"
        urgent-color "#f85552"
    }
}
