/* colors */

* {
 bg:#2b3339;
 bg1:#4b565c;
 bg2:#2f383e;
 bg3:#4C566A;
 fg:#d3c6aa;
 fg1:#E5E9F0;
 fg2:#D8DEE9;
 white:#d3c6aa;
  red: #e67e80;
  orange:#D08770;
  yellow:#dbbc7f;
  magenta:#d699b6;
  cyan:#83c092;
  blue:#7fbbb3;
  green:#a7c080;
  transparent: #00000000;
}

