* {
  border: none;
  border-radius: 0;
  font-family: CaskaydiaCove Nerd Font;
  font-weight: bold;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #d3c6aa;
}

tooltip {
  background: #2d353b;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #475258;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#memory,
#cpu,
#bluetooth,
#wireplumber,
#backlight {
  background: #475258;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
}

/*Tray {{*/
#tray {
  margin-right: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#bluetooth {
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/*}}*/

#custom-caffeine {
  color: #dbbc7f;
  border-right: 0px;
  margin-left: 10px;
}

#custom-language {
  color: #e67e80;
  border-left: 0px;
  border-right: 0px;
}

/*System {{*/
#custom-updates {
  color: #a7c080;
  border-left: 0px;
  border-right: 0px;
}

#cpu {
  color: #a7c080;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#memory {
  color: #d699b6;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #a6e3a1;
  margin-right: 10px;
  border-left: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/*}}*/

/*In/out {{*/
#backlight {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 10px;
}
/* }}*/

/* Left {{*/
#workspaces {
  margin-left: 10px;
  border-radius: 8px;
}
#workspaces button {
  padding: 5px;
  color: #d3c6aa;
}

#workspaces button.active {
  color: #83c092;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #a6e3a1;
}

#workspaces button.urgent {
  color: #11111b;
  background: #eba0ac;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #dbbc7f;
}

#clock {
  color: #7fbbb3;
  border-radius: 8px;
  margin-left: 10px;
}
/* }}*/
