[icons]
name = "awesome5"

[theme]
name = "nord-dark"

# [[block]]
# block = "custom"
# command = "echo '\uf0ac ' `curl -4 bot.whatismyipaddress.com`" # assumes fontawesome icons
# interval = 60

[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{mem_used_percents}"
format_swap = "{swap_used_percents}"

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1
format = "{1m}"

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 60
format = "%a %d/%m %R"

[[block]]
block = "custom"
command = "whoami"
interval = "once"
