layout {
    background-color "transparent"

    focus-ring {
        active-color   "#b8cda5"
        inactive-color "#8e9288"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b8cda5"
        inactive-color "#8e9288"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b8cda5"
        inactive-color "#8e9288"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b8cda580"
    }
}

recent-windows {
    highlight {
        active-color   "#384a2b"
        urgent-color   "#ffb4ab"
    }
}